h1 {
    font-size: 2.7rem;
}

label input {
    width: 580px;
}

label select{
    padding: 5px 255px;
}

 span {
     font-size: 1.5rem;
 }

 #check {
     width: initial;
 }

 .check {
     font-size: 1.3rem;
 }

 #submit {
     font-size: 1.4rem;
 }

 footer {
     height: 350px;
 }